@import 'variables';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: $secondary-color;

  .content {
    flex: 1;
    padding-inline: 2rem;
    margin-top: $header-height; // avoid content being hidden under fixed header
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}