/* Couleurs principales du thème */
$primary-color: #f94231;       // Corail chaud pour éléments principaux (boutons, accents)
$secondary-color: #FFF5F0;     // Fond clair
$accent-color: #fdc462;        // Accent pour hover ou boutons secondaires
$font-color: #4B3F3F;          // Texte principal sombre mais chaleureux

/* Couleurs pour le sentiment */
$positive-color: #28A745;      // vert positif
$negative-color: #D9534F;      // rouge négatif
$neutral-color: #FFC107;       // jaune/orange neutre

/* Navbar */
$nav-background: #fe602b;      // orange/rouge chaud pour nav en haut
$nav-link-active-color: #fedf54; // couleur claire pour le lien actif

/* Cartes / conteneurs */
$card-background: #FFFFFF;
$shadow-color: rgba(0,0,0,0.1);
$border-radius: 10px;